.navbar {
  display: flex;
  flex-direction: row;
  background: #ff8008;
  background: -webkit-linear-gradient(to right, #ff8008, #ffc837);
  background: linear-gradient(to right, #ff8008, #ffc837);
}

.navbar-brand {
  padding-top: 7px;
}

ul {
  display: inline;
}

a:hover {
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
}

.nav {
  display: flex;
}

.navbar-right {
  display: flex;
}
